body {
    max-width: 2000px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

mark {
    background-color: rgb(248, 5, 5);
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(246, 206, 241);
}

h1 {
    color: rgb(0, 0, 0);
}

.intro {
    max-width: 500px;
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.list {
    flex-direction: column;
    align-items: center;

}

table,
th,
td {
    max-width: 200px;
    width: 100%;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

section {
    max-width: 2000px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(246, 206, 241);

}